html, body {
  font-size: 16px;
}

:root {
  --tag-background-color: #e9edc9;
  --tag-button-background-color: #faffd4;
  --tag-button-hover-background-color: #dbe2af;
}

.dark {
  --tag-background-color: #1b1b1b;
  --tag-button-background-color: #292929;
  --tag-button-hover-background-color: #131313;
}

.main {
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  font-size: 1rem;
}

.main button {
  transition: all 0.2s ease;
  cursor: pointer;
}

.main .header {
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.dark-mode .header {
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

.main .header .logo {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main .options {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.main .options::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}