html, body{
    font-size: 16px;
}

:root{
    --tag-background-color: #e9edc9;
    --tag-button-background-color: #faffd4;
    --tag-button-hover-background-color: #dbe2af;
}

.dark{
    --tag-background-color: #1b1b1b;
    --tag-button-background-color: #292929;
    --tag-button-hover-background-color: #131313;
}

@mixin flex-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    width: 100vw;
    min-height: 100vh;
    z-index: 1;
    padding: 10px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;

    button{
        background-color: #ccd5ae;
        color: #111111;
        font-weight: 600;
        padding: 2px 10px;
        cursor: pointer;
        border-radius: 5px;
    }

    .header{
        width: 100%;
        height: 35px;
        // background-color: red;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo{
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 600;
        }
    }

    .options{
        width: 100%;
        height: 45px;
        background-color: var(--tag-background-color);
        @include flex-center();
        gap: 5px;

        div{
            padding: 5px 15px;
            font-size: 0.9rem;
            font-weight: 500;
            background-color: var(--tag-button-background-color);
            border-radius: 1px;
            cursor: pointer;

            &:hover{
                background-color: var(--tag-button-hover-background-color);
            }
        }
    }
}